body
	{width:554px;
	height:415px;}
.TB
	{mso-special-format:nobullet\2022;}
.T
	{text-align:center;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:3;
	font-size:220%;}
.BB
	{mso-special-format:bullet\2022;}
.B
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:160%;}
.B1B
	{mso-special-format:bulletC;}
.B1
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:140%;}
.B2B
	{mso-special-format:bullet\2022;}
.B2
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:120%;}
.B3B
	{mso-special-format:bulletC;}
.B3
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:100%;}
.B4B
	{mso-special-format:bullet\00BB;}
.B4
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:100%;}
.N
	{font-family:宋体;
	mso-ascii-font-family:Calibri;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N1
	{font-family:宋体;
	mso-ascii-font-family:Calibri;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N2
	{font-family:宋体;
	mso-ascii-font-family:Calibri;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N3
	{font-family:宋体;
	mso-ascii-font-family:Calibri;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N4
	{font-family:宋体;
	mso-ascii-font-family:Calibri;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.OB
	{mso-special-format:nobullet\2022;
	font-family:Arial;}
.O
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:90%;}
.O1B
	{mso-special-format:nobullet\2022;
	font-family:Arial;}
.O1
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.O2B
	{mso-special-format:nobullet\2022;
	font-family:Arial;}
.O2
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.O3B
	{mso-special-format:nobullet\2022;
	font-family:Arial;}
.O3
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.O4B
	{mso-special-format:nobullet\2022;
	font-family:Arial;}
.O4
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.CB
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.CB1
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.CB2
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.CB3
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.CB4
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.CT
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.HB
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.HB1
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.HB2
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.HB3
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.HB4
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.QB
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.QB1
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.QB2
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.QB3
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.QB4
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;}
.Tbl
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl1
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl2
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl3
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl4
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet\2022;
	font-family:Arial;}
.default
	{text-align:left;
	font-family:宋体;
	mso-ascii-font-family:Arial;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:black;
	mso-color-index:1;
	font-size:90%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-fareast-language:ZH-CN;}
a:link
	{color:#009999 !important;}
a:active
	{color:#333399 !important;}
a:visited
	{color:#99CC00 !important;}
@font-face
	{font-family:Calibri;
	font-style:normal;
	font-weight:normal;
	mso-font-charset:0;
	mso-font-format:4;
	mso-generic-font-family:34;
	src:url("font008.eot");}
@font-face
	{font-family:Calibri;
	font-style:normal;
	font-weight:bold;
	mso-font-charset:0;
	mso-font-format:4;
	mso-generic-font-family:34;
	src:url("font009.eot");}
@font-face
	{font-family:Calibri;
	font-style:italic;
	font-weight:normal;
	mso-font-charset:0;
	mso-font-format:4;
	mso-generic-font-family:34;
	src:url("font010.eot");}
@font-face
	{font-family:Calibri;
	font-style:italic;
	font-weight:bold;
	mso-font-charset:0;
	mso-font-format:4;
	mso-generic-font-family:34;
	src:url("font011.eot");}
